<style>
.insta-wrap{
	text-align: center;
}
.insta-thumb{
	display: inline-block;
	height: {{__SELF__.img_size}}px;
	width: {{__SELF__.img_size}}px;
	border-radius: 5px;
	margin: 5px;
}
.insta-text { 
	padding: 10%;
	color: white;
	font-size: {{__SELF__.fontsize}}px
} 
.insta-info {
	height: 100% !important;
	width: 100% !important;
	border-radius: 5px;
	transition: 0.3s;
}
.insta-info:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.insta-thumb .insta-text {
	visibility: hidden;
}
.insta-thumb:hover .insta-text {
	visibility: visible;
}
.insta-text .insta-caption {
	height: 8em;
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: wrap;
}
</style>

{{__SELF__.test}}


{% if __SELF__.p_instagram_feed_need_update and not __SELF__.p_instagram_feed_need_update_t %}

<div id="{{__SELF__.id}}"></div>

<div id="loader{{__SELF__.id}}" style="width: 100%; text-align: center;">
	<svg  style="filter: invert(42%); height: 60px;"  version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
		<circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
			<animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1"></animate>    
		</circle>
		<circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
			<animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2"></animate>       
		</circle>
		<circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
			<animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3"></animate>     
		</circle>
	</svg>
</div>
<script>
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
									
			document.getElementById("loader{{__SELF__.id}}").style.visibility = 'hidden';
			document.getElementById("{{__SELF__.id}}").innerHTML = JSON.parse(this.responseText).html;

		}
	};
	
	xhttp.open("GET", "{{__SELF__.burl('pkurg/instagramgallery/instagramfeed/updatefeed')}}?id={{__SELF__.id}}&user={{__SELF__.user}}&postcount={{__SELF__.postcount}}&period={{__SELF__.period}}&key={{__SELF__.key}}&tkey={{__SELF__.tkey}}&propkey={{__SELF__.propkey}}&size={{__SELF__.img_size_index}}", true);
	xhttp.send();
</script>

{% else %}

<div class="insta-wrap">

	{% for post in __SELF__.p_instagram_feed %}

	<a href="{{ post.link }}">

		<div class="insta-thumb" style="background-image: url({{ post.img }});" >
			
			<div class="insta-info">
				
				<div class="insta-text">
					<p><svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="Instagram logo.">
						<path d="M15.0049 0C8.74253 0 6.91103 0.00646208 6.55502 0.036003C5.26988 0.142858 4.47019 0.34526 3.59896 0.779143C2.92755 1.11263 2.39804 1.4992 1.87544 2.0411C0.923698 3.02933 0.346883 4.24513 0.138077 5.69033C0.0365572 6.39193 0.00702432 6.53502 0.00102545 10.1187C-0.00128181 11.3133 0.00102545 12.8854 0.00102545 14.9941C0.00102545 21.2531 0.00794722 23.0833 0.0379416 23.4387C0.141768 24.6896 0.337885 25.4765 0.753192 26.3374C1.54689 27.9852 3.06276 29.2222 4.84858 29.6838C5.46692 29.8431 6.14987 29.9308 7.02663 29.9723C7.3981 29.9885 11.1843 30 14.9728 30C18.7613 30 22.5499 29.9954 22.9121 29.9769C23.9273 29.9292 24.5168 29.85 25.1686 29.6815C26.966 29.2176 28.4541 27.9991 29.264 26.3282C29.6712 25.4881 29.8777 24.6711 29.9712 23.4855C29.9915 23.227 30 19.1058 30 14.9902C30 10.8738 29.9908 6.76026 29.9705 6.50178C29.8759 5.29706 29.6694 4.487 29.249 3.63077C28.9041 2.92986 28.521 2.40643 27.965 1.87124C26.9726 0.923155 25.759 0.346183 24.3128 0.13755C23.6121 0.0362338 23.4725 0.0062313 19.8871 0H15.0049Z" fill="url(#paint0_radial_instagram)"></path>
						<path d="M15.0049 0C8.74253 0 6.91103 0.00646208 6.55502 0.036003C5.26988 0.142858 4.47019 0.34526 3.59896 0.779143C2.92755 1.11263 2.39804 1.4992 1.87544 2.0411C0.923698 3.02933 0.346883 4.24513 0.138077 5.69033C0.0365572 6.39193 0.00702432 6.53502 0.00102545 10.1187C-0.00128181 11.3133 0.00102545 12.8854 0.00102545 14.9941C0.00102545 21.2531 0.00794722 23.0833 0.0379416 23.4387C0.141768 24.6896 0.337885 25.4765 0.753192 26.3374C1.54689 27.9852 3.06276 29.2222 4.84858 29.6838C5.46692 29.8431 6.14987 29.9308 7.02663 29.9723C7.3981 29.9885 11.1843 30 14.9728 30C18.7613 30 22.5499 29.9954 22.9121 29.9769C23.9273 29.9292 24.5168 29.85 25.1686 29.6815C26.966 29.2176 28.4541 27.9991 29.264 26.3282C29.6712 25.4881 29.8777 24.6711 29.9712 23.4855C29.9915 23.227 30 19.1058 30 14.9902C30 10.8738 29.9908 6.76026 29.9705 6.50178C29.8759 5.29706 29.6694 4.487 29.249 3.63077C28.9041 2.92986 28.521 2.40643 27.965 1.87124C26.9726 0.923155 25.759 0.346183 24.3128 0.13755C23.6121 0.0362338 23.4725 0.0062313 19.8871 0H15.0049Z" fill="url(#paint1_radial_instagram)"></path>
						<path d="M14.998 3.9234C11.9902 3.9234 11.6128 3.93656 10.4314 3.99033C9.25244 4.04433 8.44767 4.23104 7.74349 4.50499C7.01509 4.78794 6.39721 5.16643 5.78163 5.7824C5.16559 6.39815 4.7872 7.0162 4.50341 7.74457C4.22885 8.44917 4.04196 9.25439 3.98889 10.4333C3.93605 11.6149 3.92221 11.9927 3.92221 15.0013C3.92221 18.0098 3.93559 18.3862 3.98912 19.5679C4.04334 20.7472 4.23 21.5522 4.50364 22.2566C4.78674 22.9852 5.16513 23.6032 5.78094 24.219C6.39628 24.8352 7.01417 25.2146 7.74211 25.4975C8.44674 25.7715 9.25175 25.9582 10.4305 26.0122C11.6118 26.066 11.9891 26.0791 14.9966 26.0791C18.0046 26.0791 18.3809 26.066 19.5622 26.0122C20.7412 25.9582 21.5469 25.7715 22.2515 25.4975C22.9797 25.2146 23.5967 24.8352 24.212 24.219C24.828 23.6032 25.2064 22.9852 25.4902 22.2568C25.7625 21.5522 25.9494 20.747 26.0048 19.5681C26.0578 18.3865 26.0717 18.0098 26.0717 15.0013C26.0717 11.9927 26.0578 11.6151 26.0048 10.4335C25.9494 9.25416 25.7625 8.44917 25.4902 7.7448C25.2064 7.0162 24.828 6.39815 24.212 5.7824C23.596 5.1662 22.9799 4.7877 22.2508 4.50499C21.5448 4.23104 20.7396 4.04433 19.5606 3.99033C18.3793 3.93656 18.0032 3.9234 14.9945 3.9234H14.998ZM14.0045 5.91972C14.2993 5.91926 14.6284 5.91972 14.998 5.91972C17.955 5.91972 18.3054 5.93034 19.4731 5.98342C20.5529 6.03281 21.139 6.21329 21.5294 6.36492C22.0462 6.5657 22.4147 6.80572 22.802 7.19345C23.1897 7.58117 23.4296 7.95043 23.6308 8.4674C23.7824 8.85743 23.9631 9.44364 24.0122 10.5237C24.0653 11.6915 24.0768 12.0423 24.0768 14.9987C24.0768 17.9551 24.0653 18.3059 24.0122 19.4737C23.9628 20.5538 23.7824 21.14 23.6308 21.53C23.4301 22.047 23.1897 22.4151 22.802 22.8026C22.4144 23.1903 22.0464 23.4304 21.5294 23.6311C21.1394 23.7835 20.5529 23.9635 19.4731 24.0129C18.3057 24.066 17.955 24.0775 14.998 24.0775C12.0408 24.0775 11.6903 24.066 10.5228 24.0129C9.44302 23.963 8.85697 23.7825 8.46636 23.6309C7.94953 23.4301 7.58037 23.1901 7.19275 22.8024C6.80513 22.4147 6.56518 22.0463 6.36398 21.5291C6.2124 21.1391 6.03174 20.5529 5.98259 19.4728C5.92953 18.305 5.91891 17.9542 5.91891 14.996C5.91891 12.0377 5.92953 11.6888 5.98259 10.521C6.03197 9.44087 6.2124 8.85466 6.36398 8.46417C6.56471 7.9472 6.80513 7.57794 7.19275 7.19022C7.58037 6.80249 7.94953 6.56247 8.46636 6.36122C8.85674 6.2089 9.44302 6.02889 10.5228 5.97927C11.5445 5.93311 11.9404 5.91926 14.0045 5.91695V5.91972ZM20.9096 7.75911C20.1759 7.75911 19.5806 8.35385 19.5806 9.08799C19.5806 9.8219 20.1759 10.4173 20.9096 10.4173C21.6433 10.4173 22.2386 9.8219 22.2386 9.08799C22.2386 8.35408 21.6433 7.75865 20.9096 7.75865V7.75911ZM14.998 9.31232C11.8571 9.31232 9.31058 11.8595 9.31058 15.0013C9.31058 18.143 11.8571 20.6891 14.998 20.6891C18.1388 20.6891 20.6844 18.143 20.6844 15.0013C20.6844 11.8595 18.1386 9.31232 14.9977 9.31232H14.998ZM14.998 11.3086C17.0367 11.3086 18.6896 12.9618 18.6896 15.0013C18.6896 17.0405 17.0367 18.6939 14.998 18.6939C12.959 18.6939 11.3064 17.0405 11.3064 15.0013C11.3064 12.9618 12.959 11.3086 14.998 11.3086V11.3086Z" fill="white"></path>
						<defs>
							<radialGradient id="paint0_radial_instagram" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(7.96879 32.3106) rotate(-90) scale(29.7322 27.6533)">
								<stop stop-color="#FFDD55"></stop>
								<stop offset="0.1" stop-color="#FFDD55"></stop>
								<stop offset="0.5" stop-color="#FF543E"></stop>
								<stop offset="1" stop-color="#C837AB"></stop>
							</radialGradient>
							<radialGradient id="paint1_radial_instagram" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-5.02516 2.16115) rotate(78.6806) scale(13.2904 54.7837)">
								<stop stop-color="#3771C8"></stop>
								<stop offset="0.128" stop-color="#3771C8"></stop>
								<stop offset="1" stop-color="#6600FF" stop-opacity="0"></stop>
							</radialGradient>
						</defs>
					</svg></p>
					<p class="insta-caption">
						{{ post.caption|slice(0, __SELF__.textlen) ~ '...' }}							
					</p>
				</div>

			</div>

		</div>

	</a>

	{% endfor %}
</div>

{% if __SELF__.p_instagram_feed_need_update_t %}

<script>

	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
									
			console.log('feed updated');
		}
	};

	xhttp.open("GET", "{{__SELF__.burl('pkurg/instagramgallery/instagramfeed/updatefeed')}}?id={{__SELF__.id}}&user={{__SELF__.user}}&postcount={{__SELF__.postcount}}&period={{__SELF__.period}}&key={{__SELF__.key}}&tkey={{__SELF__.tkey}}&propkey={{__SELF__.propkey}}&size={{__SELF__.img_size_index}}", true);
	xhttp.send();

</script>

{% endif %}


{% endif %}


